meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no')

meta(http-equiv='X-UA-Compatible', content='IE=edge')
  
meta(name='keywords', content=keywords)
meta(name='description', content=description)

meta(property='og:title', content=og.title)
meta(property='og:type', content=og.type)
meta(property='og:url', content=og.url)
meta(property='og:description', content=og.description)
meta(property='og:site_name', content=og.site_name)
meta(property='og:image', content=og.image)
meta(property='og:locale', content=og.locale)
meta(property='og:app_id', content=og.app_id)

meta(name='twitter:card', content=twitter.card)
meta(name='twitter:site', content=twitter.site)
meta(name='twitter:title', content=twitter.title)
meta(name='twitter:description', content=twitter.description)
meta(name='twitter:image', content=twitter.image)
